main {
    font-family: 'Roboto', sans-serif;
}
header {

    background-image:  url(img/pattern.png);
    background-size:35%;
    height: 150px;
    background-color: #4EA0FF;
}

#logo-img {
    height: 150px;
    width: 240px ;
    padding-top: 30px;
}

h1 {
    font-family: 'Noto Serif', serif;
    font-size: 40px;
    margin-bottom: 0;
}

.inf-article {

    
    font-size: 20px;
    font-weight: bold;
    color: grey;
    margin-top: 0;
}

span {
    background-color: yellow
}

.table-dimensions {
    width: 25%;
}

.table-title-color{
    color: white;
    background-color: #4EA0FF;
    text-align: left;
    

}
.table-color {
    background-color: #B1E5F2;

}

#adds1{
    background-image:url(img/monitor.jpg) ;
    width: 250px;
    height: 250px;


}

#adds2{
    
    background-image: url(img/graph.jpg);
    width: 250px;
    height: 250px;
    
    
    
}

.adds-text {
    font-family: 'Noto Serif', serif;
    color: white;
    font-size:20px ;
    padding-left: 10px;
    padding-top: 25px;
    
    
}


